html{
  height:100%;
  width:100%;
  margin:5px;
}
body {
  height: 100%;
  width:100%;
  padding: 0;
  margin: 5px;
}

#index-banner{
  background-image: url("images/background1.jpg");
}
/*.scrollit {
    overflow:scroll;
    height:30px;
}*/


thead, tbody { display: block; }

.scrollit{
    height: 300px;       /* Just for the demo          */
    overflow:scroll;
    /*overflow-y: auto;    /* Trigger vertical scroll    */*/
    /*overflow-x: hidden;  /* Hide the horizontal scroll */*/
}

table {
    width: 100%; /* Optional */
}

td, th {
      width: 18%;  /* Optional */
  }


#map-canvas {
  width: 85%;
  height: 600px;
  margin: 10px;
  border: 2px solid;
  border-radius: 25px;
  background-color: grey;
}
