html{
  height:100%;
  width:100%;
  margin:5px;
}
body {
  height: 100%;
  width:100%;
  padding: 0;
  margin: 5px;
}


#map-canvas {
  width: 85%;
  height: 600px;
  margin: 10px;
  border: 2px solid;
  border-radius: 25px;
  background-color: grey;
}
